fastapi
uvicorn
qdrant-client
openai
psycopg2-binary
python-dotenv
pydantic
sentence-transformers
langchain-text-splitters
tqdm
sqlalchemy
passlib
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
pydantic[email]

# Testing
pytest
httpx

